# this is template .gitignore file for git-managed handsome-typecho projectes.
# author: ihewro.com

# ignore the everything of root dir but the usr dir
/*
!usr/
!.gitignore
# only retain the uploads and the themes dir
usr/*
!usr/uploads
!usr/themes

# ignore all the theme but the handsome theme
usr/themes/*
!usr/themes/handsome

# ignore the all the files of handsome theme but the assets files
usr/themes/handsome/*
!usr/themes/handsome/assets

